@import url("themes/gruvbox_dark.css");

* {
    font-family: 'Noto Sans Mono', 'Font Awesome 6 Free', 'Font Awesome 6 Brands', monospace;
    font-size: 15px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: @current_line;
}

/* General Modules */
#backlight,
#backlight {
    background-color: @background;
    border-bottom: 3px solid @color3;
    color: @foreground;
}

#battery,
#battery {
    background-color: @background;
    border-bottom: 3px solid @color5;
    color: @foreground;
}
#battery.charging, #battery.plugged {
    background-color: @background;
    color: @color5;
}
@keyframes blink {
    to {
        background-color: @background;
        color: @foreground;
    }
}
#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: @background;
    color: @color1;
}

#bluetooth,
#bluetooth {
    background-color: @background;
    border-bottom: 3px solid @color1;
    color: @foreground;
    min-width: 40px;
}

#clock,
#clock {
    background-color: @background;
    border-bottom: 3px solid @current_line;
    color: @foreground;
}

#cpu,
#cpu {
    background-color: @background;
    border-bottom: 3px solid @color4;
    color: @foreground;
}

#disk,
#disk {
    background-color: @background;
}

#idle_inhibitor,
#idle_inhibitor {
    background-color: @background;
}

#idle_inhibitor.activated {
    background-color: @background;
    color: @foreground;
}

#keyboard-state,
#keyboard-state {
    background-color: @background;
    border-bottom: 3px solid @color6;
    color: @foreground;
    margin: 0 5px;
    min-width: 16px;
    padding: 0 0px;
}
#keyboard-state > label {
    padding: 0 5px;
}
#keyboard-state > label.locked {
    background-color: @background;
}

#language,
#language {
    background-color: @background;
    border-bottom: 3px solid @color6;
    color: @foreground;
    margin: 0 5px;
    min-width: 16px;
    padding: 0 5px;
}

#memory,
#memory {
    background-color: @background;
    border-bottom: 3px solid @color3;
}

#mode,
#mode {
    background-color: @background;
    border-bottom: 3px solid @color7;
}

#mpd,
#mpd {
    background-color: @background;
    border-bottom: 1px solid @color4;
    color: @foreground;
    font-size: 11px;
    padding: 0 10px;
}
#mpd.disconnected {
    background-color: @background;
}
#mpd.stopped {
    background-color: @background;
}
#mpd.paused {
    background-color: @background;
}

#network,
#network {
    background-color: @background;
    border-bottom: 3px solid @comment;
}
#network.disconnected {
    background-color: @background;
    border-bottom: 3px solid @color11;
    color: @color1;
}

#pulseaudio,
#pulseaudio {
    background-color: @background;
    border-bottom: 3px solid @color2;
    color: @foreground;
}
#pulseaudio.muted {
    background-color: @background;
    color: @foreground;
}

#temperature,
#temperature {
    background-color: @background;
    border-bottom: 3px solid @color1;
    color: @foreground;
}
#temperature.critical {
    background-color: @background;
    border-bottom: 3px solid @color1;
    color: @foreground;
}

#tray,
#tray {
    background-color: @background;
    margin: 0 0px;
    padding: 0 10px;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @background;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#window,
window#waybar {
    background-color: @background;
    border-bottom: 0px solid @background;
    color: #ffffff;
    opacity: 0.9;
    transition-property: background-color;
    transition-duration: .5s;
}
window#waybar.chromium {
    background-color: @color0;
    border: none;
}
window#waybar.empty {
    background-color: @background;
}
window#waybar.hidden {
    opacity: 0.2;
}
window#waybar.solo {
    background-color: @background;
}
window#waybar.termite {
    background-color: @color15;
}

#workspaces,
#workspaces {
    margin: 0 4px;
}
#workspaces button {
    background-color: transparent;
    border-radius: 5px;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    /* border: none; */
    color: @foreground;
    padding: 0 5px;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button.active {
    background: @current_line;
    box-shadow: inset 0 -3px @color3;
    color: @color2;
}
#workspaces button:hover {
    background: @current_line;
    color: @foreground;
}
#workspaces button.focused {
    background-color: @current_line;
    box-shadow: inset 0 -3px @color7;
}
#workspaces button.hover {
    background: @comment;
    box-shadow: inset 0 -3px @color7;
}
#workspaces button.urgent {
    background-color: @background;
}

/* Custom modules */

#custom-b_level,
#custom-b_level {
    background-color: @background;
    border-bottom: 3px solid @color2;
    color: @foreground;
    min-width: 40px;
}

#custom-cava_sh,
#custom-cava_sh {
    background-color: @background;
    border-bottom: 0px solid @current_line;
    color: @color2;
    min-width: 100px;
}
#custom-cava_sh.level1 {
    background-color: @background;
    border-bottom: 0px solid @current_line;
    color: @color4;
    min-width: 100px;
}
#custom-cava_sh.level2 {
    background-color: @background;
    border-bottom: 0px solid @current_line;
    color: @color5;
    min-width: 100px;
}

#custom-clock_sh,
#custom-clock_sh {
    background-color: @background;
    border-bottom: 3px solid @current_line;
    color: @foreground;
}

#custom-dnf,
#custom-dnf {
    background-color: @background;
    border-bottom: 3px solid @color7;
    color: @foreground;
}

#custom-keyboard_sh,
#custom-keyboard_sh {
    background-color: @background;
    border-bottom: 3px solid @color6;
    color: @foreground;
    margin: 0 5px;
    min-width: 16px;
    padding: 0 5px;
}

#custom-media,
#custom-media {
    background-color: @background;
    color: @foreground;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @background;
}

#custom-media.custom-vlc {
    background-color: @background;
}

#custom-network,
#custom-network {
    background-color: @background;
    border-bottom: 3px solid @color2;
    color: @foreground;
    min-width: 40px;
}

#custom-power,
#custom-power {
    background-color: @background;
    border-bottom: 3px solid @color6;
    color: @foreground;
    margin: 0 5px;
    min-width: 16px;
    padding: 0 0px;
}

#custom-status_player,
#custom-status_player {
    background-color: @background;
    border-bottom: 3px solid @color2;
    color: @foreground;
    min-width: 100px;
}
